.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #073b3a; /* VERDE BASE 1*/
  color: white;
  padding: 15px 30px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}

.nav-links a:hover {
  color: #2a9d8f; /*VERDE BASE 2*/
}

.nav-links button {
  background: none;
  border: none;
  color: #f5f5f5;
  cursor: pointer;
  font-weight: 500;
}

.nav-links button:hover {
  color: #2a9d8f;
}